body {
    background-color:burlywood;
    color:darkblue;
    font-family:'Times New Roman', Times, serif
}

p {
    justify-content:center;
}

div {
    display: inline-flex;
    align-self: center;
    flex-direction: column;
}
.img-obs {
    background-image: url(img/Observatoriam.jpg);
    background-size: contain;
    width:350px;
    height:250px;
    background-repeat:no-repeat;
}

.img-haw {
    background-size: contain;
    width:450px;
    height:350px;
    background-repeat:no-repeat
}

.img-monch {
    background-size: contain;
    width:350px;
    height:250px;
    background-repeat:no-repeat
}

.img-bpolish {
    background-size: contain;
    width:350px;
    height:250px;
    background-repeat:no-repeat
}

.img-apolish {
    background-size: contain;
    width: 350px;
    height: 250px;
    background-repeat:no-repeat
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:hotpink
}

li a{
    display: block;
    color:indigo;
    text-align: center;
    padding: 15px 18px;
}

li a:hover {
    background-color:ivory;
}

li {
    float: left;
    text-emphasis-color:black;
    display:inline;
    border: 5px black;
    padding:5px;
    margin: 5px green;
    border-right: 2px darkblue;
}

footer {
    display:flex;
}